/* cartButton */
.btnCartContainer {
  margin-right: 60px;
  position: relative;
}

.cartIcon {
  left: 10px;
  position: absolute;
  top: 10px;
  width: 50px;
  z-index: 1;
}

.quantityCart {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  left: 45px;
  padding: 5px;
  position: relative;
  text-decoration: none;
  top: 15px;
  width: 10px;
  z-index: 2;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.qtdProduct {
  display: flex;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
